@media only screen and (min-width: 1024px) {

.TextUp {
  display: flex;
  height: 50px;
  position: relative;
  }
  
.RightWord{
    color:white;
    margin-left: auto;
    font-family: 'Comfortaa';
    padding-right: 1%;
  }

  .LeftWord{
      color:white;
      margin-right: auto;
      font-family: 'Comfortaa';
      padding-left: 1%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .TextUp {
    display: flex;
    height: 50px;
    position: relative;
    }
    
  .RightWord{
    color:white;
    margin-right: 35%;
    font-family: 'Comfortaa';
    padding-right: 1%;
    }
  
    .LeftWord{
      color:white;
      margin-right: auto;
      font-family: 'Comfortaa';
      padding-left: 1%;
      height: 5px;
    }
}

@media only screen and (max-width: 768px) {
  .TextUp {
    display: flex;
    height: 50px;
    }
    
  .RightWord{
      color:white;
    margin-right: 35%;
    font-family: 'Comfortaa';
    padding-right: 1%;
    }
  
    .LeftWord{
      color:white;
      margin-right: auto;
      font-family: 'Comfortaa';
      padding-left: 1%;
      height: 5px;
    }
}

  
