@import url('https://fonts.cdnfonts.com/css/comfortaa');
@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
  margin: 0;
  padding: 0;
}

.Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: scroll;
    height: 100vh;
    background: no-repeat -webkit-linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
    background: no-repeat -moz-linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
    background: no-repeat linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
}
